boot/buildScripts/templates/mainProjectTemplate/beh/item/dtd/item.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT item (beh, res)>

<!ELEMENT beh (ID, name, tab, maxSize, foil, isCreateModeShow)>
<!ELEMENT ID ANY>
<!ELEMENT name ANY>
<!ELEMENT tab ANY>
<!ELEMENT maxSize ANY>
<!ELEMENT foil ANY>
<!ELEMENT isCreateModeShow ANY>

<!ELEMENT res (textures)>
<!ELEMENT textures ANY>

<!ATTLIST item type CDATA "">